a {
  color: gray;
  text-decoration: none;
  &:visited {
    color: gray;
    text-decoration: none;
  }
  &:hover {

    text-decoration: none;
  }
}

@import "semantic-ui";

body {
    margin:0; 
    border-top: 3px solid #4092cc; 
    color: #62717a; 
    background: url('http://www.ache.org/images/bg-gray.png');
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 0.8em;
    }

.ui.table {
    font-size: 1em;
}

.ui.table th {
    background: linear-gradient(to bottom, #fcfcfc, #eee) repeat scroll 0 0 #f4f4f4;
    color: #62717a; 
    cursor: auto;
    padding: 0.5em 0.7em;
    text-align: left;
    vertical-align: middle;
}

.ui.grid > .column, .ui.grid > .row > .column {
    font-size: 13px;
}

#Container .mix {
    display: none;
    }


.darker.desaturate {
-webkit-filter: grayscale(100%); 
-moz-filter: grayscale(100%);
filter: grayscale(100%);
filter: url(desaturate.svg#greyscale);
filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}

.ui.button.tint {
  text-transform: none;
}

.ui.grid .right.floated.column.padr {
  padding-right:15px;
}

.ui.menu .blue.active.item, .ui.blue.menu .active.item {
    border-color: #6ecff5 !important;
    color: #4092cc !important;
}



.ui.segment {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin: 1em 0;
    padding: 0.5em;
    position: relative;
}

 .margr {
   margin-right: 25px;
 }

 .ui.blue.segment {
  border-top: 0.2em solid #4092cc;
 }

 #notice {
  color: green;
}

.field_with_errors{
  padding: 1px;
  background-color: #a95252;
  border-color: #e7bebe #e7bebe #e7bebe;
  box-shadow: 0.3em 0 0 0 #d95c5c inset;
  border-radius: 5px;
}

.structions {
  position:fixed; 
  top:102px; 
  right:75px;
}

.structions p {
  text-align:left;
}

.lgn {
  padding:50px 25px;
}

.lilnav {
  position:fixed; 
  right:0px; 
  top:175px;
}

.ui.horizontal.list > .item {
    display: inline-block;
    font-size: 0.7rem;
    margin-left: 1em;
}

 .ui.attached.header {
    background: linear-gradient(to bottom, #fcfcfc, #eee) repeat scroll 0 0 #f4f4f4;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    padding: 0.5em 1rem;
}

@-ms-viewport {
  width: device-width;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}


