<div class="ui grid aligned center" style="padding:10px 5px;">

<div class="ui divider"></div>
<div class="ui divided horizontal footer link list">
  <div class="item">American College of Healthcare Executives  &copy; 2014</div>
  <div class="item">
    DoCM
  </div>
  <div class="item">
    <%= link_to 'Admin', '#', class: 'ui button basic mini' %> 
   </div>
</div>
</div>

