<footer>
  <div class="ui divider"></div>
	<div class="ui horizontal footer link list">
  <div class="item">American College of Healthcare Executives  &copy; 2014</div>
  <div class="item">
  	<% if admin_signed_in? %>
    <div class="ui basic buttons">
  		<%= link_to 'Sign Out', destroy_admin_session_path, class: 'ui button basic mini', method: :delete %>
      <%= link_to 'Sort List', root_path, class: 'ui button basic mini' %>
      <%= link_to 'Admin', members_list_path, class: 'ui button basic mini' %>
    </div>
  	<% else %>
    	<%= link_to 'Admin', members_list_path, class: 'ui button basic mini' %> 
    <% end %>	
  </div>
</div>
</div>
</footer>

