  <div class="visible-xs-inline-block visible-sm-inline-block visible-md-inline-block lilnav">
    <div class="ui vertical icon menu blue ui clearing" style="margin-bottom:0;">
    <a class="item filter active twitter sort pop" data-sort="random" data-content="Shuffle" data-position="left center">
      <i class="refresh icon"></i>
    </a>
    </div> 
    <br>
    <div class="ui vertical icon menu blue"> 
    <a class="item filter pop" data-filter="all" data-content="All" data-position="left center">
      <i class="table icon"></i>
    </a>
    <a class="item filter pop" data-filter=".chair" data-content="Chairman" data-position="left center">
      <i class="block layout icon"></i>
    </a>
    <a class="item filter pop" data-filter=".gov" data-content="Governors" data-position="left center">
      <i class="grid layout icon"></i>
    </a>
  </div>
</div>