<div class="ten wide column">
	<h1>Edit Board Member</h1>
		<div class="ui segment stacked">
			<div class="lgn">
				<%= render 'form' %>
			</div>
		</div>
	<%= link_to 'Back', members_list_path, class: 'ui button basic tiny' %>
</div>


