<div class="ui grid aligned center">
  <div class="ui five wide column">
	<h1 style="line-height:150%">Add New Board Member</h1>
		<div class="ui segment raised">
   			<%= render 'form' %>
		</div>
  	</div>
</div>

<%= link_to 'Back', members_list_path %>
